extends base.pug 
block scripts 
    script(src="../static/index.js").

block style 
    style 
        include ../static/style.css
        include ../static/about.css
block content 
    #aboutsection
        h1 About Us Page
        p Some text about who we are and what we do.
        p Resize the browser window to see that this page is responsive by the way.
    //- br
    //- #content
    //-     p
    //-     | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, saepe molestias mollitia veritatis odit maiores voluptas Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti ex similique at dignissimos iste atque culpa temporibus. Illum corrupti voluptas aliquam! Consectetur itaque velit hic tempore repellendus autem accusantium, labore sint qui, ullam nesciunt nisi. Tenetur suscipit dicta velit laborum eius ab eum, illum quaerat excepturi non assumenda autem at quis consequuntur pariatur eaque, earum doloribus! Id aliquid minima nulla voluptatibus expedita aut architecto delectus doloremque. Possimus, quas veritatis temporibus deserunt ab fugit voluptates officia saepe assumenda hic recusandae inventore fuga reiciendis adipisci quae sapiente nobis corporis dignissimos unde error? Consequatur eius soluta praesentium pariatur doloremque commodi cupiditate et unde quia odio ipsum vero inventore, modi at nihil veritatis labore culpa? Necessitatibus, atque aliquid nulla ipsum enim eligendi esse asperiores illum maxime debitis earum. Optio exercitationem fugit, ab quaerat sapiente quibusdam laboriosam dolor non laudantium recusandae id ea architecto dolore distinctio tempora itaque! Excepturi provident error natus distinctio modi earum fuga possimus maxime suscipit voluptatem eos quo dolor ratione, aliquam impedit doloremque delectus inventore? Tempora quisquam totam nobis odit cumque accusantium cupiditate nihil quibusdam! Nobis unde similique laboriosam rem, mollitia, aut sit animi itaque quibusdam, doloribus magni. Mollitia recusandae tempora provident enim commodi accusamus deserunt officiis cumque eius eligendi eum, explicabo facere iusto nemo expedita facilis nihil reprehenderit modi id deleniti vitae. Quos, id sit. Ipsum eaque voluptatibus doloremque minima dolor autem neque, consequuntur natus commodi optio corporis? Fugiat exercitationem adipisci consectetur dolorem iste quam quis necessitatibus dolore aliquam, illo provident pariatur reiciendis. Quibusdam quia aut debitis incidunt, possimus sapiente esse, aperiam cumque voluptas velit tempora id officiis veniam sit aliquam quam vel dolorem perspiciatis, praesentium commodi. Voluptatem, aperiam aspernatur ad vero adipisci debitis repellat dolores porro id, ab non earum rem corporis sed, dicta doloribus. Asperiores alias vel voluptatibus deserunt consequatur velit placeat eligendi! Fugiat mollitia adipisci nobis quo? Totam recusandae, magnam dicta cum hic asperiores laudantium velit quas explicabo, incidunt amet esse deleniti perferendis dolorum nesciunt tempora. Optio neque, quaerat quam sint voluptates placeat dolores aliquam nobis enim, eos libero cum officia debitis ipsam iure sit, atque dolor ratione temporibus porro accusantium vitae ab modi ad. Ut dicta accusantium eius sint unde et, assumenda placeat distinctio, porro consectetur sunt deleniti natus numquam soluta provident quibusdam dolore? Est reprehenderit repudiandae quasi excepturi expedita, autem consequatur tenetur velit, libero eum nobis molestiae, rerum explicabo dicta ipsam. Asperiores error explicabo hic fuga ea, molestiae tempora sint quibusdam iste, at minus labore quasi maiores ab dignissimos vitae dicta aperiam assumenda quas distinctio unde! At tempora ducimus nobis quam harum sequi quae molestias aperiam, praesentium dolores. Nemo architecto odio repellat facere aspernatur velit, nulla molestias aperiam quae voluptas rem enim cum repudiandae sed natus magnam sint laudantium tempora minus hic est doloremque reprehenderit perspiciatis. Dolorum, perspiciatis eius! Odit, maxime? Officiis commodi aliquid tenetur et ipsum voluptatibus distinctio quas quasi in maxime sapiente excepturi, aliquam, accusamus dignissimos ea ut minus soluta est alias, dolorem rerum nostrum accusantium? Pariatur exercitationem consectetur voluptas! Aliquid deserunt, dignissimos numquam ab, doloremque illo exercitationem suscipit animi beatae, consequuntur fuga. dolore vel? Maiores et ut commodi accusamus, dolor quasi facilis aspernatur officiis culpa praesentium harum magnam alias ullam minima eum. Facere ducimus quisquam et dolorem nemo minima cupiditate maxime adipisci repellat nostrum tempora placeat libero odit fugit amet architecto assumenda impedit corrupti quidem doloremque, voluptate velit enim pariatur consectetur. Ratione provident commodi est, at reprehenderit impedit aliquam enim rem iste numquam adipisci consectetur quam amet fugiat, nesciunt porro, autem nisi officia et tempore natus a beatae quod explicabo! Voluptates iure deserunt totam qui dolore.

    section#teamsection 
        h2 OUR TEAM
        div.box   
            div.box-container
            div.box-img
                img(src="/static/images/man1.jpg")
                h3 john 
                p.title Founder &amp; Chairperson
                br
                p Some text that describes me lorem ipsum ipsum
                br
                p john@example.com
                br
                p
                button.button Contact
        div.box   
            div.box-container
            div.box-img
                img(src="/static/images/man2.jpg")
                h3 andrew
                p.title  instructor
                br
                p Some text that describes me lorem ipsum ipsum 
                br
                p andrew@example.com
                br
                p
                button.button Contact
        div.box  
            div.box-container
            div.box-img
                img(src="/static/images/woman1.jpg")
                h3 Emma
                p.title  instructor
                br
                p Some text that describes me lorem ipsum ipsum
                br
                p jane@example.com
                br
                p
                button.button Contact
                 