doctype html 
html
  head
    title samy dance academy
    block scripts
    block style 
  body 
    nav#navbar 
        ul 
            div#logo 
            img(src="/static/images/logo.png" href='/')
            li #[a(href ="/") Home]
            li #[a(href ="/about") About]
            li #[a(href ="/services") Services] 
            li #[a(href ="/contact") Contact Us]	
    block content
    footer#footer
     Copyright © 2021 sammydanceAcademy.com | All Rights Reserved