extends base.pug 
block scripts 
    script(src="../static/index.js").

block style 
    style 
        include ../static/style.css

block content 	
    section#introSection 
        div  welcome to samy dance academy	 
        div.small learn to excell the skill

    section#missionSection 
        h2 OUR mission
        div.card 
            h3 dance eviuhn 
            div.card-box
            div.card-img
                img(src="/static/images/dancepng1.png")
                div.card-content
                    p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium tempore, velit mollitia sed itaque ad impedit magnam dignissimos obcaecati quo accusamus, minima, provident similique. fuga nostrum temporibus repudiandae! Sequi nemo dicta enim praesentium obcaecati!
        div.card 
            h3 dance eviuhn 
            div.card-box
            div.card-img
                img(src="/static/images/dancepng2.png")
                div.card-content
                    p   Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium tempore, velit mollitia sed itaque ad impedit magnam dignissimos obcaecati quo accusamus, minima, provident similique. fuga nostrum temporibus repudiandae! Sequi nemo dicta enim praesentium obcaecati!
        div.card 
            h3 dance eviuhn 
            div.card-box
            div.card-img
                img(src="/static/images/dancepng3.png")
                div.card-content
                    p   Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium tempore, velit mollitia sed itaque ad impedit magnam dignissimos obcaecati quo accusamus, minima, provident similique. fuga nostrum temporibus repudiandae! Sequi nemo dicta enim praesentium obcaecati!
      

    section#sponsersSection 
        h2 Our Sponsors
            div#sponsers
            img(src= "/static/images/clients1.png", alt= "Sponsor Image", class= "spImage")
            img(src= "/static/images/clients2.png", alt= "Sponsor Image", class= "spImage")
            img(src= "/static/images/clients3.jpg", alt= "Sponsor Image", class= "spImage")
            img(src= "/static/images/clients4.jpg",alt= "Sponsor Image", class= "spImage")

//- block foot 
//-     footer#footer
//-      Copyright © 2021 sammydanceAcademy.com | All Rights Reserved