@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Indie Flower', cursive; */
}
 #logo{
    display: flex;
    color: white;
    align-items: center;
}

img{
    height: 30px;
    width: 30px;      

}

#navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center; 
    /* justify-content: center; */
}

#navbar {
    background-color: #b34949;
    height: 59px;
    padding: 16px 19px;
    position: sticky;
}

#navbar li {
    list-style: none;
}

#navbar li a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 25px 25px;
}

#navbar li a:hover {
    color: rgb(5, 5, 5);
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    padding: 25px 25px;
}

#introSection {
    padding-bottom: 90px;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    align-items: center;
    justify-content: center;
    height: 680px;
    background-color: aqua;
    background: center / cover no-repeat url(/static/images/bg.jpg);
}

#introSection div.small {
    font-size: 40px;
}
#missionSection{
    height: 550px;
    width: 84%;
    margin: 32px auto;
}

#missionSection h2 {
    text-align: center;
    padding: 17px 13px;
    font-size: 2.8rem;
}
.card{
    display: inline-block;
    border: 3px solid black;
    border-radius: 23px;
    width: 30%;
    margin: 35px 20px;
    height: 357px;
    background-color: #f0c4c4;

}
.card h3{
    text-align: center;
    margin: 0 12px;
    margin-top: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-img{
    height: 131px;
    padding: 0 14px;
    margin: 5px 9px;
}
.card-img img{
    height: 78px;
    width: 88px;
    display: block;
    margin: 28px auto;
}

#sponsersSection {
    height: 550px;
    background-color: #d68e8e;
}

#sponsersSection h2 {
    text-align: center;
    padding: 57px 24px;
    font-size: 2.6rem;
}


#sponsors{
    height: 120px;
    max-width: 100px;
    margin: auto
}

.spImage{
    height: 177px;
    width: 187px;
    margin: 81px;
}

#footer{ 
    height: 30px;
    background-color: black;
    color: white;
}

#footer.copyright{
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;

}